.geral{
  display: flex;
background-color: #ccc;
justify-content: center;
}

.cachorro-1 img{
  display: flex;
  max-width: 400px;
  height: 300px;
  gap: 10px;
  padding: 5px;
}

.cachorro-2 img{
  display: flex;
  max-width: 400px;
  height: 300px;
  gap: 10px;
  padding: 5px;
}

.cachorro-3 img{
  display: flex;
  max-width: 400px;
  height: 300px;
  gap: 10px;
  padding: 5px;
}