.geral{
  display: flex;
background-color: #ccc;
justify-content: center;
}

.cachorro-1 img{
  display: flex;
  max-width: 400px;
  height: 300px;
  gap: 10px;
  padding: 5px;
}

.cachorro-2 img{
  display: flex;
  max-width: 400px;
  height: 300px;
  gap: 10px;
  padding: 5px;
}

.cachorro-3 img{
  display: flex;
  max-width: 400px;
  height: 300px;
  gap: 10px;
  padding: 5px;
}

.fa-arrow-right{ 
  font-size: 3em;
position: absolute;
padding-top: 140px;
color: blueviolet;
cursor: pointer;
padding-left: 5px;
}

.fa-arrow-left{
  font-size: 2em;
  position: absolute;
  padding-top: 150px;
  padding-left: 375px;
}